<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SelectedEventColour</key>
	<string>F8B42A</string>
	<key>SecondaryEventColour</key>
	<string>E7392F</string>
	<key>PrimaryEventColour</key>
	<string>709C35</string>
</dict>
</plist>
